/* advantage - Преимущества */

.advantage {
  background: linear-gradient(-6deg, $lightgrey 76%, $white 24%);
  text-align: center;

  width: 100%;
}

.advantage__wrapper {
  margin-bottom: 25px;
}

.advantage__title,
.advantage__subject {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $blue;
  text-align: center;

  margin: 0;
}

.advantage__title {
  padding-bottom: 26px;
}

.advantage__list {
  margin: 0;
  padding: 0;
  padding-top: 60px;

  list-style: none;
}

.advantage__item {
  margin: 0;
  padding: 0;

  &:last-child {
    background-image: url(../img/iphone-screen-mobile@1x.png);
    background-position: bottom -44px center;
    background-repeat: no-repeat;

    padding-bottom: 302px;
  }
}

.advantage__subtitle {
  display: block;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $black;

  margin-top: 28px;
  margin-bottom: 0;
}

.advantage__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $blue;
}

.advantage__effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage {
    background: linear-gradient(-4deg, $lightgrey 76%, $white 24%);
  }

  .advantage__title,
  .advantage__subject {
    font-size: 40px;
    line-height: 50px;
  }

  .advantage__title {
    padding-bottom: 0;
  }

  .advantage__subject {
    padding: 0 50px;
  }

  .advantage__list {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-top: 72px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;

      width: 268px;
      height: 481px;

      background-image: url(../img/iphone-screen-3-tablet@1x.png);
      background-repeat: no-repeat;
    }
  }

  .advantage__item {
    width: 320px;

    padding-left: 10px;

    text-align: left;

    &:last-child {
      padding-bottom: 25px;

      background: none;
    }
  }

  .advantage__subtitle {
    margin-top: 19px;
  }

  .advantage__newline {
    display: block;
  }

  .advantage__effect {
    display: block;

    padding-top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    background: linear-gradient(-4deg, $lightgrey 69%, $white 24%);
  }

  .advantage__title,
  .advantage__subject {
    font-size: 50px;
    line-height: 57px;
  }

  .advantage__subject {
    padding: 0 110px;
  }

  .advantage__list {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    padding-top: 56px;

    &::after {
      display: none;
    }
  }

  .advantage__item {
    position: relative;

    width: 240px;

    padding: 0;
    padding-top: 340px;

    text-align: center;

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-left: 16px;
      padding-bottom: 0px;
    }

    &::before {
      content: "";
      position: absolute;

      top: 0;
      left: 0;

      width: 240px;
      height: 300px;

      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(1)::before {
      background-image: url(../img/iphone-screen-1-desktop@1x.png);
    }

    &:nth-child(2)::before {
      background-image: url(../img/iphone-screen-2-desktop@1x.png);
    }

    &:nth-child(3)::before {
      background-image: url(../img/iphone-screen-3-desktop@1x.png);
    }
  }

  .advantage__subtitle {
    margin-top: 16px;

    font-size: 30px;
    line-height: 30px;
  }

  .advantage__text {
    margin-top: 24px;

    font-size: 18px;
    line-height: 30px;
  }

  .advantage__newline {
    display: none;
  }

  .advantage__effect {
    padding-top: 48px;
  }
}
