/* button */

.button {
  display: inline-block;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: $white;

  border: 3px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;

  cursor: pointer;

  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12px;
}
