/* feedback */

.feedback {
  background-color: $white;

  width: 100%;
}

.feedback__wrapper {
  position: relative;
  min-height: 202px;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

.feedback__triangle {
  position: absolute;
  top: 0px;
  left: 50%;

  width: 100%;
  height: 35px;

  transform: translateX(-50%);
  z-index: 2;

  fill: $white;
}

.feedback__map {
  position: relative;

  width: 100%;
  height: 202px;

  margin: 0;
  padding: 0;

  border: none;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .feedback__wrapper {
    min-height: 372px;
  }

  .feedback__triangle {
    height: 70px;
  }

  .feedback__map {
    height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__wrapper {
    min-height: 512px;
  }

  .feedback__triangle {
    height: 105px;
  }

  .feedback__map {
    height: 512px;
  }
}
