/* feedback */

.feedback {
  background-color: $white;

  width: 100%;

  padding-top: 50px;
}

.feedback__wrapper {
  width: 320px;

  margin: 0 auto;

  padding-bottom: 40px;
}

.feedback__map {
  width: 100%;
}
