/* intro */

.intro {
  width: 100%;

  background-color: $darkblue;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 28px;
}

.intro__list {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 205px;

  margin: 0;
  padding: 0;
  padding-top: 32px;

  list-style: none;
}

.intro__desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro {
    position: relative;
    top: -306px;

    background-color: transparent;
  }

  .intro__wrapper {
    margin-top: -28px;
    margin-left: -316px;
  }

  .intro__download {
    padding: 14px 42px;
  }

  .intro__list {
    padding-top: 50px;
  }

  .intro__desc {
    width: 300px;

    margin: 0;
    padding-top: 26px;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {

}
