/* index.html/page-heaader.scss - Шапка */

.page-header {
  background-color: $bg-lightblue;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 320px;
  margin: 0 auto;
}
