/* page-main */
// изменения
.page-main {
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center 176px, top center;
  background-color: $blue;

  width: 100%;

  margin: 0;
  margin-top: -66px;
  padding: 0;
  padding-top: 66px;
}

.page-main__wrapper {
  width: 230px;

  margin: 0 auto;
}

.page-main__title {
  font-size: 24px;
  font-weight: 300;
  color: $white;
  text-align: center;

  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 35px;
}

.page-main__intro {
  margin-top: 285px;
}

.page-main__advantage {
  padding-top: 30px;
}

.page-main__reviews {
  margin: 0;
  padding-top: 34px;
}

.page-main__prices {
  padding-top: 130px;
  padding-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: -110px;
    padding-top: 110px;

    background-position: center 183px,top center;
    background-image: url(../img/iphone-hand-tablet@1x.png),url(../img/bg-back-tablet@1x.jpg);
  }

  .page-main__wrapper {
    margin-left: 34px;
  }

  .page-main__title {
    padding-top: 94px;

    font-size: 40px
  }

  .page-main__intro {
    margin-top: 0;
    margin-bottom: 108px;
    padding-right: 325px;
  }

  .page-main__prices {
    padding-top: 110px;
    padding-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    background-image: url(../img/iphone-hand-desktop@1x.png), url(../../img/bg-back-desktop@1x.jpg);
    background-position: 136px 194px,top center;
  }

  .page-main__wrapper {
    width: 270px;

    margin-left: 14px;
  }

  .page-main__title {
    padding-top: 109px;
    padding-bottom: 60px;

    font-size: 50px;
  }

  .page-main__intro {
    padding-right: 647px;
  }

  .page-main__advantage {
    padding-top: 70px;
    padding-bottom: 67px;
  }

  .page-main__reviews {
    padding-top: 72px;
  }

  .page-main__prices {
    padding-top: 190px;
    padding-bottom: 97px;
  }
}
