/* user-comments */

.user-comments {
  width: auto;

  border-style: none;
}

.user-comments__item {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
}

.user-comments__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $pink;
  text-align: center;
}

.user-comments__textarea {
  width: 100%;

  margin-top: 20px;

  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid $grey;

  resize: none;

  &::placeholder {
    color: $blue;
  }

  &:hover {
    border-color: $blue;
  }

  &:focus {
    border-color: $pink;
  }

  &:active {
    border-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .user-comments {
    border: 2px solid $grey;
  }

  .profile__legend--comments {
    display: block;
  }

  .user-comments__label {
    display: none;
  }
}
