/* form.html/user-info */

.user-info {
  width: 320px;
}
.user-info__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $text-pink;
  text-transform: uppercase;
}

.user-info__input {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid $bc-grey;

  width: 100%;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 79px;
  padding-bottom: 20px;

  &::placeholder {
    color: $text-blue;
  }

  &:hover {
    border-color: $bc-blue;
  }

  &:focus {
    border-color: $bc-pink;
  }

  &:active {
    border-color: $bc-pink;
  }
}
