/* user-comments */

.user-comments {
  width: auto;
}

.user-comments__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
}

.user-comments__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $pink;
  text-align: center;
}

.user-comments__textarea {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 2px solid $grey;

  width: 100%;

  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  &::placeholder {
    color: $blue;
  }

  &:hover {
    border-color: $blue;
  }

  &:focus {
    border-color: $pink;
  }

  &:active {
    border-color: $pink;
  }
}
