/* Общие настройки и стили*/
// Общие стили
@import "../../node_modules/normalize.css/normalize";
@import "../sass/blocks/fonts.scss";
@import "../sass/blocks/button.scss";
@import "../sass/variables.scss";
@import "../sass/blocks/page-header.scss";
@import "../sass/blocks/main-nav.scss";
@import "../sass/blocks/site-list.scss";
@import "../sass/blocks/page-main.scss";
@import "../sass/blocks/slider.scss";
// index.html стили
@import "../sass/blocks/intro.scss";
@import "../sass/blocks/advantage.scss";
@import "../sass/blocks/reviews.scss";
@import "../sass/blocks/prices.scss";
@import "../sass/blocks/prices-list.scss";
@import "../sass/blocks/feedback.scss";
@import "../sass/blocks/contacts.scss";
// photo.html
@import "../sass/blocks/gallery.scss";
@import "../sass/blocks/photo-list.scss";
@import "../sass/blocks/upload.scss";

// Общие настройки
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: $bg-white;

  width: 320px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
