/* Variables */

// font-family
$open-sans: "Open Sans", "Arial", sans-serif;

// main-color
$black: #000000;
$darkblue: #1d2631;
$blue: #283645;
$white: #ffffff;
$lightgrey: #f2f2f2;
$grey: #b5b9be;
$pink: #d22856;
$green: #2aab6d;

// breakpoints
$tablet-width: 660px;
$desktop-width: 960px;
