/* Variables */

// text color
$text-blue: #283645;
$text-white: #ffffff;
$text-pink: #d22856;

// Background-color
$bg-darkblue: #1d2631;
$bg-lightblue: #283645;
$bg-white: #ffffff;
$bg-lightgrey: #f2f2f2;
$bg-pink: #d22856;
$bg-green: #2aab6d;

// Breakpoint
$tablet-width: 660px;
$desktop-width: 1200px;

// Border-color
$bc-blue: #283645;
$bc-white: #ffffff;
$bc-pink: #d22856;
$bc-grey: #b5b9be;

